<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBThrP9rJzGpG6yNiK9JPQNN0-9fhJimKI</string>
	<key>GCM_SENDER_ID</key>
	<string>462292507425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sulunbatuhan.UIProjectsToDo</string>
	<key>PROJECT_ID</key>
	<string>uiprojectstodo</string>
	<key>STORAGE_BUCKET</key>
	<string>uiprojectstodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462292507425:ios:ea2ebcda3fc6e9bc05fc60</string>
</dict>
</plist>